<div class="fondo">
    <app-sidebar></app-sidebar>

    <mat-card style="width: 70%; margin: 0 auto; margin-top: 30px; height: 35rem">
        <mat-card-title>Logger de Eventos</mat-card-title>
        <mat-divider style="margin-top: 10px"></mat-divider>
    
        <div style="float: right">
            <!-- Search input -->
            <mat-form-field appearance="outline" style="margin-top: 40px; width: 500px; margin-right: 30px">
              <input matInput [(ngModel)]="search" (input)="applyFilter()" placeholder="Buscar evento" style="margin-bottom: 5px">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
        <div class="example-table-container">
            <table mat-table *ngIf="eventsList.length > 0" [dataSource]="eventsList" class="mat-elevation-z8" style="width: 100%;">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> id </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
            
                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef> Usuario </th>
                    <td mat-cell *matCellDef="let element"> {{element.user}} </td>
                </ng-container>
            
                <ng-container matColumnDef="event">
                    <th mat-header-cell *matHeaderCellDef> Evento </th>
                    <td mat-cell *matCellDef="let element"> {{element.event}} </td>
                </ng-container>
            
                <ng-container matColumnDef="loged_module">
                    <th mat-header-cell *matHeaderCellDef> Modulo
                    <td mat-cell *matCellDef="let element"> {{element.loged_module}} </td>
                </ng-container>
            
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{ element.date | date: 'short'}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button mat-icon-button (click)="deleteEvent(element.id)" class="delete-button">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card>
    
    <app-footer></app-footer>
</div>