.fondo {
    overflow: hidden;
    background: url(/assets/img/fondo4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.sprint-label {
    padding: 7px;
    background-color: rgb(231, 228, 228);
    border-radius: 5px;
}