<mat-toolbar>
  <mat-icon>menu</mat-icon>
  <span>My App</span>
  <span class="example-spacer"></span>
  <mat-icon>home</mat-icon>
</mat-toolbar>

<div class="card-wrapper">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{data?.name}} </mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{data?.photo}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{data?.description}}
      </p>
    </mat-card-content>
  </mat-card>
  
</div>

<router-outlet></router-outlet>
